<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Ajedrez online</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.min.js"></script>

</head>
<body>
  {{{body}}}

  {{{script}}} {{!-- Aquí se inyectarán los scripts personalizados --}}
</body>
</html>