<body>
  <a id="v" href="pp">⬅ Volver</a>
  <div class="contenido-ajedrez">
    <div class="player1">  
      <div class="cuadro c1">
        <div class="foto_partida foto_blanca">♟</div>
        <div class="nombre_partida">Piezas blancas</div>
      </div>
      <section class="movimientos">
          <h3>Movimientos</h3>
            <ul id="m1">
            </ul>
      </section> 
      <div class="bandeja-capturas negras">
        <h4>Capturadas Negras</h4>
        <div id="bandeja-negras"></div>
      </div>
    </div>
    <main>
      <h1>Partida en curso</h1>
     <div class="tablero" id="tablero"></div>
      <div class="info-partida">
        <p class="turno"><strong>Turno de:</strong> <span class="player"></span></p>
        <div class="acciones">
            <button id="rendirse" >Rendirse</button>
            <button id="empatar" >Empatar</button>
        </div>
      </div>
    </main>
    <div class="player2">
      <div class="cuadro c2">
        <div class="foto_partida foto_negra">♟</div>
        <div class="nombre_partida">Piezas negras</div> 
      </div>
      <section class="movimientos">
          <h3>Movimientos</h3>
            <ul id="m2">
            </ul>
      </section> 
      <div class="bandeja-capturas blancas">
        <h4>Capturadas Blancas</h4>
        <div id="bandeja-blancas"></div>
      </div>
  </div>
</body>