<body> 
    <input type="radio" name="vista" id="inicio" checked>
    <input type="radio" name="vista" id="nueva-partida">
    <input type="radio" name="vista" id="en-curso">
    <input type="radio" name="vista" id="partidas-publicas">
    <input type="radio" name="vista" id="historial">
    <input type="radio" name="vista" id="estadisticas">
    <div class="titulo_pp">
        <h1>Inicio</h1>  
    </div>
    <div class="contenedor_pp categorias"> 
        <label for="nueva-partida" class="boton">
            <span class="box-container"> <!-- Contenedor adicional -->
                <span class="box">
                    <img src="/images/peon.png" class="item" alt="Nueva partida">
                    <span>Jugar</span>
                </span>  
            </span>
        </label>
        <label for="en-curso" class="boton">
            <span class="box-container"> <!-- Contenedor adicional -->
                <span class="box">
                    <img src="/images/reloj-arena.png" class="item" alt="Partidas en curso">
                    <span>Partidas en curso</span>
                </span>  
            </span>
        </label>
        <label for="partidas-publicas" class="boton">
            <span class="box-container"> <!-- Contenedor adicional -->
                <span class="box">
                    <img src="/images/punto-de-partida.png" class="item" alt="Partidas publicas">
                    <span>Partidas publicas</span>
                </span>  
            </span>
        </label>
        <label for="historial" class="boton">
            <span class="box-container"> <!-- Contenedor adicional -->
                <span class="box">
                    <img src="/images/reloj.png" class="item" alt="Historial">
                    <span>Historial</span>
                </span>  
            </span>
        </label>
        <label for="estadisticas" class="boton">
            <span class="box-container"> <!-- Contenedor adicional -->
                <span class="box">
                    <img src="/images/estadistica.png" class="item" alt="Estadísticas">
                    <span>Estadísticas</span>
                </span>  
            </span>
        </label>
        <label class="boton">
            <a href="/perfil" class="box">
                <img src="/images/perfil.png" class="item" alt="Perfil"> 
                <span>Perfil</span>
            </a>  
        </label>
    </div> 
    <div class="contenedor_pp detalle partida">
        <label class="boton volver" for="inicio">⬅ Volver</label>
        <h1>Partida</h1>
        <img src="/images/peon.png" class="itemdetalle" alt="Iniciar">
        <button class="iniciar online">Nueva partida online</button> 
        <button class="iniciar local">Nueva partida local</button>
    </div>
    <div class="contenedor_pp detalle curso">
        <label class="boton volver" for="inicio">⬅ Volver</label>
        <h1>Partidas en curso</h1>
        <div class="table-container">
            <table>
                <thead>
                    <tr> 
                        <th>Jugador</th>
                        <th>Movimientos</th>
                        <th>Inicio</th>
                        <th>Entrar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="contenedor_pp detalle publica">
        <label class="boton volver" for="inicio">⬅ Volver</label>
        <h1>Partidas disponibles</h1>
        <div class="partidas">
            <div class="carrousel">
                <article class="card_pp">
                    <h2>Pepito</h2>
                    <button> Jugar</button>
                </article>
                <article class="card_pp">
                    <h2>Juana</h2>
                    <button> Jugar</button>
                </article>
                <article class="card_pp">
                    <h2>Andrés</h2>
                    <button> Jugar</button>
                </article>
                <article class="card_pp">
                    <h2>Ronaldo</h2>
                    <button> Jugar</button>
                </article>
                <article class="card_pp">
                    <h2>Diego</h2>
                    <button> Jugar</button>
                </article>
            </div>
        </div>
    </div>
    <div class="contenedor_pp detalle historial">
        <label class="boton volver" for="inicio">⬅ Volver</label>
        <h1>Historial</h1>
        <div class="table-container">
            <table>
                <thead> 
                    <tr>
                        <th>Contrincante</th>
                        <th>Resultado</th>
                        <th>Movimientos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="contenedor_pp detalle estadisticas">
        <label class="boton volver" for="inicio">⬅ Volver</label>
        <h1>Estadísticas</h1>
        <div class="contenedor-estadisticas">
            <div class="est">
                <h3>Victorias</h3>
                <h1>1</h1>
            </div>  
            <div class="est">
                <h3>Empates</h3>
                <h1>1</h1>
            </div>  
            <div class="est">
                <h3>Derrotas</h3>
                <h1>2</h1>
            </div>  
            <div class="est">
                <h3>Partidas</h3>
                <h1>4</h1>
            </div>  
            <div class="est">
                <h3>Movimientos</h3>
                <h1>239</h1>
            </div>  
            <div class="est">
                <h3>Rango</h3>
                <h1>1427</h1>
            </div>  
        </div>
    </div>
    <script>
        async function partidas(){
            try{
                const res = await fetch('/api/info-partidas');
                if (!res.ok) {
                    throw new Error('Error al obtener las partidas');
                }

                const data = await res.json();
                console.log('Partidas obtenidas:', data);
                mostrarPartidas(data);
            }
            catch (error){
                console.error('Error al obtener las partidas:', error);
            }
        }

        async function crearNuevaPartida(colorElegido) {
            try {
                const res = await fetch('/api/crear-partida', {
                method: 'POST',
                credentials: 'include',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ color: colorElegido })
                });
                if (!res.ok) {
                throw new Error('Error al crear la partida');
                }
                const data = await res.json();
                window.location.href = `/partida?id=${data.partidaId}`;
            } catch (error) {
                console.error('Error al crear la partida:', error);
            }
        }



        document.querySelector('.online').addEventListener('click', () => {
            document.querySelector(".partida").textContent = "";

            const contenedorBotones = document.createElement("div");
            contenedorBotones.classList.add("cb");

            const titulo = document.createElement("h2");
            titulo.classList.add("elige-color");
            titulo.textContent = "Elige el color de tus piezas";

            const botonBlanca = document.createElement("button");
            botonBlanca.classList.add("decision", "blanca");
            botonBlanca.textContent = "Blancas";

            const botonNegra = document.createElement("button");
            botonNegra.classList.add("decision", "negra");
            botonNegra.textContent = "Negras";

            // Agregar botones al contenedor
            const contenedor = document.querySelector(".partida");
            contenedor.appendChild(titulo);
            contenedorBotones.appendChild(botonBlanca);
            contenedorBotones.appendChild(botonNegra);
            contenedor.appendChild(contenedorBotones);

            // Ahora sí puedes añadirles eventos porque ya existen en el DOM
            botonBlanca.addEventListener("click", () => crearNuevaPartida("blanca"));
            botonNegra.addEventListener("click", () => crearNuevaPartida("negra"));
        });


        function mostrarPartidas(partidas) {  
            for (const partida of partidas) {
                const jugador = partida.jugador2 && partida.jugador2.usuario ? partida.jugador2.usuario.username : 'Esperando oponente';
                const movimientos = partida.Movimientos ? partida.Movimientos.length : '-';
                const fecha = new Date(partida.fechaInicio).toLocaleDateString();
                const tr = document.createElement('tr');
                let tbody;
                if (partida.resultado === 'en_curso' || partida.resultado === 'esperando_oponente') {
                    tbody = document.querySelector('.curso tbody');
                    tr.innerHTML = `
                        <td>${jugador}</td>
                        <td>${movimientos}</td>
                        <td>${fecha}</td>
                        <td><button class="jugar" data-id="${partida._id}">Jugar</button></td>
                    `;   
                }else{
                    tbody = document.querySelector('.historial tbody');
                    tr.innerHTML = `
                        <td>${jugador}</td>
                        <td>${partida.resultado}</td>
                        <button>${movimientos}</button>
                    `; 
                }   
                tbody.appendChild(tr);

                document.addEventListener('click', function(event) {
                    if (event.target.classList.contains('jugar')) {
                        const partidaId = event.target.getAttribute('data-id');
                        window.location.href = `/partida?id=${partidaId}`;
                    }
                });
            }
        }   
        document.addEventListener('DOMContentLoaded', partidas);
    </script>
</body>