        <div class="contenedor">
            <form method="POST" action="/register">
                <h1>Registro</h1>
                <div class="caja-input">
                    <input type="username" placeholder="Usuario" name="username" required>

                </div>
                <div class="caja-input">
                    <input type="text" placeholder="Nombre" name="nombre"required>

                </div>
                <div class="caja-input">
                    <input type="text" placeholder="Apellido" name="apellido" required>

                </div>
                <div class="caja-input">
                    <input type="email" placeholder="Correo" name="mail"required>

                </div>
                <div class="caja-input">
                    <input type="password" placeholder="Contraseña" name="password" required>

                </div>
                <div class="caja-input">
                    <input type="password" placeholder="Confirmar contraseña" required>

                </div>
                <div class="caja-input">
                    <input type="date" name="cumpleaños" required>
                </div>
                <button type="submit" class="btn">Registrarse</button>
                <div class="link-registro">
                    <p>¿Ya tienes cuenta? <a href="/login">Inicia sesión</a></p>
                </div>
            </form>
        </div>
